* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100vh;
    background: linear-gradient(90deg, rgb(100, 145, 214) 0%, rgb(67, 240, 199) 100%);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    display: flex;
}

.playerOne {
    background-color: #fff;
    width: 300px;
    height: 400px;
    text-align: center;
    position: relative;
}

.playerTwo {
    background-color: #999;
    width: 300px;
    height: 400px;
    text-align: center;
    position: relative;
}

.playerOne h1, 
.playerTwo h1 {
   margin-top: 4rem;
   font-weight: 300;
}

.scoreBoard {
    position: absolute;
    bottom: 10%;
    right: 33%;
    background-color: #d9d9d9;
    padding: 20px 30px;
    color: #fff;
}

.resets {
    position: absolute;
    top: 30%;
    left: 83%;
    z-index: 5;
}

/* img,
#rollDice,
#hold {
    display: none;
} */

img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 20px;
}

h3 a {
    text-decoration: none;
    color: #333;
}